.dowap-top-bar .nav-top-bar {
	border-bottom:1px solid rgb(168,173,177);
	height:20px;
	top:2px;
	opacity:0.4;
	position:relative;
	padding:0px 20px;
	text-align:center;
	font-size:12px;
}
.dowap-top-bar {
	color:black;
}
.dowap-top-bar {
	left:0px;
	margin:0px auto;
	line-height:90%;
}
.logo{
margin-bottom:5px;
margin-top:-10px;
width:100%;
height:80px;}
.Sub {
	border:1px solid rgb(197,226,242);
	background:url(img/but.gif) repeat-x scroll 50% top rgb(205,228,242);
	height:30px;
	margin-left:5px;
	cursor:pointer;
	margin-bottom:5px;
	width:90px;
}
.w970 {
	width:970px;
	overflow:hidden;
	margin:0 auto;
	margin-top:5px;
}
.copyright {
	color:rgb(102,102,102);
	text-align:center;
	font:12px Verdana,Arial,Tahoma;
}
.mapspage {
	background:url(img/bg_maplist.gif);
}
.map_list_add {
	margin:0;
	padding:0;
	font:14px "Microsoft YaHei","微软雅黑",tahoma,arial,"\5B8B\4F53";
	color:	#999999;
	width:970px;
	line-height:25px;
}
div,ul,li,h3 {
	padding:0;
	margin:0;
}
.guide {
	width:970px;
	height:32px;
	margin:0 auto;
	padding:10px 5px 0;
	line-height:32px;
	font-size:14px;
}
.sitemap {
	width:970px;
	margin:0 auto;
}
.sitemap_title {
	padding:0 5px;
}
.sitemap_title h3 {
	font-size:18px;
	color:#4d4d4d;
	font-family:"Microsoft YaHei";
	line-height:5px;
	margin:15px 0 10px;
}
.sitemap_list {
	padding:10px;
	background-color:#fff;
	border:1px solid #f8f8f8;
	border-color:#dedcdd #c9c7c8 #c9c7c8;
	padding:12px;
	top:0;
	left:40%;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
	transition:all 0.3s;
	box-shadow:0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,.2);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,.2)
}
.sitemap_list li {
	width:100px;
	height:24px;
	line-height:10px;
	float:left;
	font-size:14px;
	color:#999;
	list-style-type:none;
}
.sitemap_list li a {
	padding:0 2px;
}
.sitemap_list li a:hover {
	background:#42a8d7;
	color:#fff;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
/* Hides from IE-mac \*/
		* html .clearfix {
	height:1%;
}
.clearfix {
	display:block;
}
a {
	color:#4d4d4d;
	text-decoration:none;
}
a:visited {
	text-decoration:none;
}
a:hover {
	color:#04aeda;
	text-decoration:underline;
}
a:active {
	color:#04aeda;
}
