
#container {
	width: 500px;
	height: 250px;
	overflow: hidden;
}
 
#photo {
	width: 1500px;
	animation: switch 5s ease-out infinite;
}
 

#photo > img {
	float: left;
	width: 500px;
	height: 250px;
}
 
@keyframes switch {
	0%, 20% {
		margin-left: 0;
	}
	25%, 45% {
		margin-left: -400px;
	}
	50%, 70% {
		margin-left: -800px;
	}
        75%, 100% {
		margin-left: -1200px;
	}
}
