/*from https://wangzi-kai.github.io/
*/
#time{
  animation:time 20s infinite;font-weight:800;
}
@keyframes time{
  0%{color:#FF0000;}
  15%{color:#FF7D00;}
  30%{color:#FFFF00;}
  45%{color:#00FF00;}
  70%{color:#00FFFF;}
  85%{color:#0000FF;}
  100%{color:#FF00FF;}
}
